.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: red;
}

.invaders {
    background: blueviolet;
    border-radius: 50%;
}

.fire {
    background-color: orange;
}
